.box-layout {
  align-items: center;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2300675/background-card.jpg"),
    url("/images/background-card.jpg");
  background-size: cover;

  @include display-flexbox;
  @include justify-content(center);
  @include flex-direction(column);
}

.test-case {
  @include display-flexbox;
  @include flex-direction(column);

  background: fade-out(white, 0.15);
  padding: $l-size $m-size;
  text-align: left;

  width: 60rem;

  border-bottom: $light-grey 1px solid;
}

.test-title,
.test-sub-title,
.test-result-title {
  margin: 0 0 $s-size 0;
  line-height: 1;
}

.max-coords,
.input-data {
  margin: 0 0 $s-size 0;
  line-height: 1;
  word-wrap: break-word;
}
